/** Your theme modifications here **/
.product-details p {
	margin-bottom: 10px;
}

.oldprice {
	text-decoration: line-through;
	color: #8e8b8b;
}

.discount {
	color: red;
}

.pad-5 {
	padding: 5px;
}

.response-msg {
	color: #87c75f;
}